body {
    background-color: #7E7796;
}

.header {
    background-color: #7E7796;
    color: whitesmoke;
}

.navlist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #7E7796;
}

.navlist li {
    list-style-type: none;
}

.navlist li a {
    text-decoration: none;
    color: whitesmoke;
}